argcomplete
cachelib
cffi
click
cryptography
Flask
Flask-Session
greenlet
itsdangerous
Jinja2
MarkupSafe
pycparser
PyMySQL==1.0.2
python-dotenv
SQLAlchemy==1.4.46
Werkzeug
cfgv
distlib
filelock
identify
nodeenv
platformdirs
pre-commit
PyYAML
virtualenv
