<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
    <title>SCC Active Contracts Contracts - Descriptions</title>
    {% include "styles.html" %}
</head>
<body>
<div style="padding: 25px 25px 25px 25px;">
    {% include "curr_month.html" %}
    {% include "top_nav.html" %}
    <h2>Descriptions</h2>
    <table class="table table-striped">
        <tr>
            <th>Description</th>
            <th>Vendors</th>
            <th>2022<br/>Costs</th>
            <th>Total<br/>Costs</th>
            <th>Earliest<br/>Effective<br/>Date</th>
            <th>Latest<br/>Expiry<br/>Date</th>
            <th>Agencies</th>
        </tr>
        {% for desc in descs %}
        <tr>
            <td>{{ desc.description }}</td>
            <td>
                <ul>
                {% for vendor in desc.vendors %}
                    <li> {{ vendor.name }}</li>
                {% endfor %}
                </ul>
            </td>
            <td style = "white-space: nowrap;">{{ desc.sum_year }}</td>
            <td style = "white-space: nowrap;">{{ desc.sum_all }}</td>
            <td>{{ desc.eff_date }}</td>
            <td>{{ desc.exp_date }}</td>
            <td>
                {% for agency in desc.agencies %}
                    <li> {{ agency.name }}</li>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% include "footer.html" %}
</div>
</body>
</html>
