<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
    <title>Santa Clara County Active Contracts</title>
    {% include "styles.html" %}
</head>
<body>
<div style="padding: 25px 25px 25px 25px;">
    {% include "top_nav.html" %}
    {% include "curr_month.html" %}
    <p>
        {% if display_all %}
        <a href="/contracts/scc/contract/{{ qual }}">Hide Historical</a>
        {% else %}
        <a href="/contracts/scc/contract/{{ qual }}-ALL">Show Historical</a>
        {% endif %}
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Month</th>
                <th>Contract ID</th>
                <th>Vendor</th>
                <th>Total Cost</th>
                <th>Effective<br/>Expiry Date</th>
                <th>Unit(s)</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for contract in contracts %}
            <tr>
                <td>{{ contract.month }}</td>
                <td style = "white-space: nowrap;">{% include "contract/contract_id.html" %}</td>
                <td>{{ contract.vendor_name }}</td>
                <td style = "white-space: nowrap;">{{ contract.contract_value }}</td>
                <td style = "white-space: nowrap;">{{ contract.effective_date }}<br/>{{ contract.expir_date }}</td>
                <td>
                    {% if con_type == 'SABC' %}
                    <ul>
                        {% for unit in contract.units %}
                            <li>{{ unit.unit_name }} - {{ unit.unit_num }}</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    {{ contract.units[0].unit_name }} - {{ contract.units[0].unit_num }}
                    {% endif %}
                </td>
                <td>{{ contract.commodity_desc }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if docs %}
    <table class="table table-striped">
        <caption>Supporting Documents</caption>
        {% for doc in docs %}
        <tr>
            <td><a href="{{ doc.url }}" target = "blank">{{ doc.url }}</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if vendor_infos %}
    <table class="table table-striped">
        <caption>Vendor Info</caption>
        {% for vendor_info in vendor_infos %}
        <tr>
            <td>{{ vendor_info.key_name }}</td>
            <td>{{ vendor_info.value_str }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% include "footer.html" %}
</div>
</body>
</html>
