<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
    <title>Santa Clara County Active Contracts</title>
    {% include "styles.html" %}
</head>
<body>
<div style="padding: 25px 25px 25px 25px;">
    {% include "curr_month.html" %}
    {% include "scc_main/intro.html" %}
    <form name="f_67" method="post" action="/app/contracts/scc/search">
    <table class="table">
        <caption>Find Contracts</caption>
        <tr><td>By (Contract, Ariba, or SAP) ID:</td><td><input type="text" name="contractID" size="50" /></td></tr>
        <tr><td>By Vendor Name (or substring):</td><td><input type="text" name="vendorName" size="50" /></td></tr>
        <tr><td>By Description:</td><td><input type="text" name="descStr" size="50" /></td></tr>
        <tr><td></td><td><input type="submit" value="Find"/></td></tr>
    </table>
    </form>
    <p>
        <a href="/app/contracts/scc/vendors">Contracts Grouped by Vendor</a>
    </p>
    {% include "scc_main/top_vendors.html" %}
    <p>
        <a href="/app/contracts/scc/agencies">Contracts Grouped by Agency</a>
    </p>
    {% include "scc_main/top_agencies.html" %}
    {% include "scc_main/top_costs.html" %}
    <p>
        <a href="/app/contracts/scc/descs">Contracts Grouped by Description</a>
    </p>
    {% include "scc_main/top_descriptions.html" %}
    {% include "scc_main/sources.html" %}
    {% include "footer.html" %}
</div>
</body>
</html>
