<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
    <title>Santa Clara County Active Contracts</title>
    {% include "styles.html" %}
</head>
<body>
<div style="padding: 25px 25px 25px 25px;">
    {% include "curr_month.html" %}
    {% include "scc_main/intro.html" %}
    <p>
        <a href="/app/contracts/scc/vendors">Contracts Grouped by Vendor</a>
    </p>
    {% include "scc_main/top_vendors.html" %}
    <p>
        <a href="/app/contracts/scc/agencies">Contracts Grouped by Agency</a>
    </p>
    {% include "scc_main/top_agencies.html" %}
    <p>
        <a href="/app/contracts/scc/costs">Contracts Grouped by Cost</a>
    </p>
    {% include "scc_main/grouped_costs.html" %}
    <p>
        <a href="/app/contracts/scc/descs">Contracts Grouped by Description</a>
    </p>
    {% include "scc_main/top_descriptions.html" %}
    <p>
        <!-- replace this with a 'find contracts by id' page -->
    <form name="f_67" method="post" action="/cgi-bin/WebObjects/app.woa/1/wo/skqda8Ymhn92e8esyG8FU0/0.67">Find Contracts
        By ID:
        <input type="text" name="67.1"/>
        <input type="submit" value="Find" name="67.3"/>
    </form>
    <hr/>
    {% include "scc_main/sources.html" %}
    {% include "footer.html" %}
    </p>
</div>
</body>
</html>
