<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
    <title>Santa Clara County Active Contracts</title>
    {% include "styles.html" %}
    <style>
        .nav-tabs > li > a {
            border: medium none;
        }
        .nav-tabs > li > a:hover {
            background-color: #c7c9ed !important;
            border: medium none;
            border-radius: 0;
            color:#fff;
        }
    </style>
</head>
<body>
<div style="padding: 25px 25px 25px 25px;">
    {% include "curr_month.html" %}
    {% include "scc_main/intro.html" %}
    <p>You can: <a href="/contracts/scc/all">Browse All Current Contracts</a></p>
    <ul class="nav nav-tabs nav-justified">
        <li><a data-target="#vendors" data-toggle="tab">By Vendor</a></li>
        <li><a data-target="#agencies" data-toggle="tab">By Agency</a></li>
        <li><a data-target="#costs" data-toggle="tab">By Cost</a></li>
        <li><a data-target="#descriptions" data-toggle="tab">By Description</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="vendors">
            {% include "scc_main/top_vendors.html" %}
        </div>
        <div class="tab-pane" id="agencies">
            {% include "scc_main/top_agencies.html" %}
        </div>
        <div class="tab-pane" id="costs">
            {% include "scc_main/top_costs.html" %}
        </div>
        <div class="tab-pane" id="descriptions">
            {% include "scc_main/top_descriptions.html" %}
        </div>
    </div>
    {% include "scc_main/sources.html" %}
    {% include "footer.html" %}
</div>
</body>
</html>
