<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
    <title>Santa Clara County Active Contracts - Imports</title>
    {% include "styles.html" %}
</head>
<body>
<div style="padding: 25px 25px 25px 25px;">
    <p>action: {{ action }}</p>
    {% if action == 'prepare' %}
    <table>
        <tr>
            <td>
                <form method="post" action="/contracts/scc/imports/add_month">
                    Month: <input type="text" size="7" name="next_month" />
                    <input type="submit" value="Add" />
                </form>
            </td>
        </tr>
        <tr>
            <td>
                    <table class="table table-striped">
                        <caption>Months</caption>
                        <thead>
                        <tr>
                            <th>Month</th>
                            <th>Approved</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for month in months %}
                        <tr>
                            <td>{{ month.month }}</td>
                            <td>{{ month.approved }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
            </td>
        </tr>
    </table>
    {% endif %}

    {% if action == 'add_sources' %}
    <h3>Month = {{ month }}</h3>
    <form method="post" action="/contracts/scc/imports/add_sources">
        <input type="hidden" name="month_pk" value="{{ month_pk }}" />
        <input type="hidden" name="month" value="{{ month }}" />
        <table class="table">
            <tr>
                <th>Source 1 URL</th>
                <td><input size="80" type="text" name="source_1_url" /></td>
            </tr>
            <tr>
                <th>Source 1 URL Alternate</th>
                <td><input size="80" type="text" name="source_1_url_alt" /></td>
            </tr>
            <tr>
                <th>Source 2 URL</th>
                <td><input size="80" type="text" name="source_2_url" /></td>
            </tr>
            <tr>
                <th>Source 2 URL Alternate</th>
                <td><input size="80" type="text" name="source_2_url_alt" /></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Add" /></td>
            </tr>
        </table>
    </form>
    {% endif %}

    {% if action == 'add_data' %}
    <table class="table table-striped">
        <tr>
            <th>Month</th>
            <td>{{ month }}</td>
        </tr>
        <tr>
            <th>Url 1</th>
            <td>{{ source_1_url }}</td>
        </tr>
        <tr>
            <th>Url 1 Alt</th>
            <td>{{ source_1_url_alt }}</td>
        </tr>
        <tr>
            <th>Url 2</th>
            <td>{{ source_2_url }}</td>
        </tr>
        <tr>
            <th>Url 2 Alt</th>
            <td>{{ source_2_url_alt }}</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <form method="post" action="/contracts/scc/imports/add_data">
                    <input type="hidden" name="month_pk" value="{{ month_pk }}" />
                    <input type="hidden" name="month" value="{{ month }}" />
                    <input type="hidden" name="source_1_url" value="{{ source_1_url }}" />
                    <input type="hidden" name="source_1_url_alt" value="{{ source_1_url_alt }}" />
                    <input type="hidden" name="source_2_url" value="{{ source_2_url }}" />
                    <input type="hidden" name="source_2url_alt" value="{{ source_2_url_alt }}" />
                <input type="submit" value="Add Data" />
                </form>
            </td>
        </tr>
    </table>
    {% endif %}
</div>
</body>
</html>
