<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
    <title>SCC Active Contracts - Agencies</title>
    {% include "styles.html" %}
</head>
<body>
<div style="padding: 25px 25px 25px 25px;">
    {% include "curr_month.html" %}
    {% include "top_nav.html" %}
    <h2>Agencies</h2>
    <table class="table table-striped">
        <tr style="white-space: nowrap;">
            <th>Agency</th>
            <th>{{ current_year }}<br/>Costs</th>
            <th>Total<br/>Costs</th>
            <th>Earliest<br/>Effective<br/>Date</th>
            <th>Latest<br/>Expiry<br/>Date</th>
            <th>Vendors</th>
        </tr>
        {% for agency in agencies %}
        <tr>
            <td>{{ agency.name }}</td>
            <td style = "white-space: nowrap;">{{ agency.sum_year }}</td>
            <td style = "white-space: nowrap;">{{ agency.sum_all }}</td>
            <td>{{ agency.eff_date }}</td>
            <td>{{ agency.exp_date }}</td>
            <td>
                <ul>
                    {% for vendor in agency.vendors %}
                    <li>{{ vendor.name }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% include "footer.html" %}
</div>
</body>
</html>
